

.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 10px;
}

.reveal .slide-logo {
  height: 48px !important;
  width: 184px!important;
  max-width: unset !important;
  max-height: unset !important;
}
